<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"> 
    <title>Create</title>  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="css/stickyFooter.css" rel="stylesheet">
    <link href="css/create.css" rel="stylesheet">
  </head>
  <body>
    <main class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">RapidWiki</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link" href="/search">Search</a>
      <a class="nav-item nav-link active" href="/create">Create</a>
      <a class="nav-item nav-link" href="/all">All</a>
      <a class="nav-item nav-link" href="/categories">Categories</a>
      <a class="nav-item nav-link" href="/recent">Recent</a>
    </div>
  </div>
</nav>
    <div class="container-fluid">
      <div class="alert alert-dark" role="alert">
        <b>Guidelines:</b>
        <br><li>Titles and Categories may only contain alphanumeric characters and white space.</li>
        <br><li>Titles must be unique</li>
        <br><li>Titles and Categories must be less than 80 characters</li>
        <br><li>Body uses Markdown</li>
      </div>
      <div class="row">
        <div class="col-md-12">
          <form autocomplete="off" method="POST" id="createForm" action="/api/create">
            <div class="form-group">
              <label for="title">Title</label>
              <input class="form-control" type="text" id="title" autocomplete="off" placeholder="Title">
            </div>
            <div class="form-group">
              <label for="body">Page Content</label>
              <textarea class="form-control" rows="10" id="body" autocomplete="off" placeholder="Content"></textarea>
            </div>
            <div class="form-group">
              <label for="category">Category</label>
              <input class="form-control" type="text" id="category" autocomplete="off" placeholder="Category">
            </div>
            <button type="submit" class="btn btn-primary" id="submitButton">Submit</button>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="alert alert-info col-md-12" id="formResponse">
          <span id="formResponseSpan"></span>
          <button type="button" class="close" id="closeResponse" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="alert alert-warning col-md-12" id="formWarning">
          Incomplete Form!
          <button type="button" class="close" id="closeWarning" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
    </main>
    <footer class="footer">
      <div class="container text-center">
        <span><a href="https://github.com/torchhound/rapidwiki/">RapidWiki on Github</a></span>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="js/create.js"></script>
  </body>
</html>