<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"> 
    <title>Wiki Home</title>  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="css/stickyFooter.css" rel="stylesheet">
  </head>
  <body>
    <main class="container-fluid text-center">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">RapidWiki</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home</a>
      <a class="nav-item nav-link" href="/search">Search</a>
      <a class="nav-item nav-link" href="/create">Create</a>
      <a class="nav-item nav-link" href="/all">All</a>
      <a class="nav-item nav-link" href="/categories">Categories</a>
      <a class="nav-item nav-link" href="/recent">Recent</a>
      <a class="nav-item nav-link" href="/files">Files</a>
      <a class="nav-item nav-link" href="/auth">Authentication</a>
    </div>
  </div>
</nav>
    <h1>Welcome to RapidWiki!</h1>
    <div class="row">
  <div class="col-4">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-search" role="tab" aria-controls="home">Search</a>
      <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-create" role="tab" aria-controls="profile">Create</a>
      <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-all" role="tab" aria-controls="messages">All</a>
      <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-categories" role="tab" aria-controls="settings">Categories</a>
      <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-recent" role="tab" aria-controls="settings">Recent</a>
      <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-files" role="tab" aria-controls="settings">Files</a>
    </div>
  </div>
  <div class="col-8">
    <div class="tab-content" id="nav-tabContent" style="margin-top: 20px">
      <div class="tab-pane fade show active" id="list-search" role="tabpanel" aria-labelledby="list-home-list">
        <span class="align-middle">Search for wiki pages by title.</span>
      </div>
      <div class="tab-pane fade" id="list-create" role="tabpanel" aria-labelledby="list-profile-list">
        <span class="align-middle">Create new wiki pages.</span>
      </div>
      <div class="tab-pane fade" id="list-all" role="tabpanel" aria-labelledby="list-messages-list">
        <span class="align-middle">Display a list of all page titles in the wiki.</span>
      </div>
      <div class="tab-pane fade" id="list-categories" role="tabpanel" aria-labelledby="list-settings-list">
        <span class="align-middle">Display a list of all categories in the wiki.</span>
      </div>
      <div class="tab-pane fade" id="list-recent" role="tabpanel" aria-labelledby="list-settings-list">
        <span class="align-middle">Display a list of the 50 most recent pages in the wiki.</span>
      </div>
      <div class="tab-pane fade" id="list-files" role="tabpanel" aria-labelledby="list-settings-list">
        <span class="align-middle">Upload a file to the wiki. Display a list files uploaded to the wiki.</span>
      </div>
    </div>
  </div>
</div>
    </main>
    <footer class="footer">
      <div class="container text-center">
        <span><a href="https://github.com/torchhound/rapidwiki/">RapidWiki on Github</a></span>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </body>
</html>