<dom-module id="menu-bar">
	<template>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
  			<a class="navbar-brand" href="/">RapidWiki</a>
  			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    			<div class="navbar-nav">
      				<a class="nav-item nav-link" href="/">Home</a>
      				<a class="nav-item nav-link" href="/search">Search</a>
      				<a class="nav-item nav-link" href="/create">Create</a>
      				<a class="nav-item nav-link active" href="/all">All</a>
      				<a class="nav-item nav-link" href="/categories">Categories</a>
      				<a class="nav-item nav-link" href="/recent">Recent</a>
    			</div>
  			</div>
		</nav>
	</template>
</dom-module>