<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"> 
    <title>Recent</title>  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="css/stickyFooter.css" rel="stylesheet">
  </head>
  <body>
    <main class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">RapidWiki</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link" href="/search">Search</a>
      <a class="nav-item nav-link" href="/create">Create</a>
      <a class="nav-item nav-link" href="/all">All</a>
      <a class="nav-item nav-link" href="/categories">Categories</a>
      <a class="nav-item nav-link active" href="/recent">Recent</a>
    </div>
  </div>
</nav>
    </main>
    <footer class="footer">
      <div class="container text-center">
        <span>Place sticky footer content here.</span>
      </div>
    </footer>
  </body>
</html>