#submitButton {
  margin-bottom: 10px;
}

#formResponse,
#formWarning {
  display: none;
}

li {
  white-space: pre;
  list-style-type: none;
  padding: 10px;
}

.card {
  margin: 10px;
}

#delete {
  margin-bottom: 10px;
}